.home-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/bg_home.jpeg');
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: 0.6;
    /* Затемнение на 40% */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Полупрозрачный черный цвет */
    z-index: 1;
}

.content-container {
    position: relative;
    z-index: 2;
    /* Обеспечивает, что контент будет поверх фона */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.image-container {
    width: 60%;
    max-width: 500px;
}

.dj-image {
    width: 30%;
    border-radius: 10px;
}

.content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1em;
    margin-bottom: 0.5em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ff5722;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e64a19;
}

.event-details {
    margin-bottom: 1em;
}

.small-bold-text p {
    font-size: 1em;
    font-weight: bold;
    margin: 0.2em 0;
}